<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!--{{ title }}:-->
    Demo Tessract:
  </h1>
  <!--<img src="https://tesseract.projectnaptha.com/img/eng_bw.png" width="50%" />-->
  <img src="../assets/images/photo1.png" width="50%" />
  <h2>Résultat :</h2>
  <h3 style="width: 700px; margin-left: auto; margin-right: auto ;">
    {{ ocrResult }}
  </h3>
</div>
